<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org">


	<head>
	    <meta charset="utf-8">
	    <title>TrainingBoard for Dir</title>
	    <link rel="stylesheet" th:href="@{/css/board/register.css}">
	</head>
	
	<body>
	    <h1>Msg board</h1>
	    <h2>board登録</h2>
	    
	    <form method="post" th:action="@{/board/register}" th:object="${board}">
	        <label for="lesson">レッスンNo.</label>
	        <select th:field="*{lesson}">
	           <option value="" th:text="該当レッスンを選択してください">
	           <option th:each="item:${T(com.msgboard.entity.Board.Lesson).values()}" th:value="${item}" th:text="${item}">
	        </select>
	        <span th:errors="*{lesson}" class="err"></span>
	        <br>
	        
	        <label for="title">タイトル</label>
	        <input type="text" th:field="*{title}">
	        <span th:errors="*{title}" class="err"></span>
	        <br>
	        
	        <label for="contents">内容</label>
	        <input type="text" th:field="*{contents}">
	        <span th:errors="*{contents}" class="err"></span>
	        <br>
	        <br>
	        
	        <input type="submit" value="登録実行">
	        <a th:href="@{/board/list}">登録せずに一覧に戻る</a>
	    </form>
	
	</body>


</html>